.body{
	box-sizing: border-box;
}
.App {
	margin: 1rem;
	font-family: Arial, Helvetica, sans-serif;
}
.button1{
	width: 80px;
	height: 40px;
}
.search label{
	font-size: 10px;
	margin: 80px 20px 0px 0px;

}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    margin-left: 20px;
}
.searchText{
	width: 100% !important;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
    transform: translate(0,0);
    margin-top: 0px;
    margin-bottom: 0px;
}
.column {
	float: left;
	width: 25%;
	padding: 10px;
	flex-direction: column;
	min-height: 100%;
	background-color: white;
}
.card{
	background-color: #f4f5f7!important;
}

.shadowText{
	background-color: #f4f5f7!important;

}.fonts{
	font-size: 13px;
}
.timeText{
	font-size: 15px;
}
.icon{
	font-size: 20px;
	color: blue;
}
.dot {
	height: 20px;
	width: 20px;
	margin-left: 15px;
	background-color: purple;
	border-radius: 50%;
	display: inline-block;
	color: white;
	font-size: 10px;
	text-align: center;

	 text-transform: uppercase;
	 text-decoration: none;
    cursor: pointer;


}
.username{
	margin-top: 5px !important;
}
.icons{
	margin-left: 5px !important;
}
.smallText{
	font-size: 13px;
    margin-left: 18px !important;
}
.name{
	font-size: 13px;
	 margin-left: 80px; 
	
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.modal-dialog{

	display: inline-block;
	height: auto;
	float: right;
	width: 80% !important;
	max-width: 80% !important;

}


.modal-title{
	font-weight: 300;
	margin-bottom: 0;
	line-height: 1.5;
	font-size: 25px;
	text-align: center;
}
.modal-header .close {
	padding: 1rem ;
	margin: -1rem -1rem -1rem auto;
	font-size: 36px;
}
.donContent {
    margin: 0px 7px 3px 14px;
    font-size: 17px;

}
.task{
	margin: 30px;
	font-size: 17px;
	text-align: justify;
}
.box{
	margin: 10px !important;
	margin-left: 20px !important;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 13px;
}
.btn{	
	border-radius: 2px;
    border: 0;
    color: #fff !important;
    margin: 2px;
    white-space: normal !important;
    word-wrap: break-word;
    text-transform: uppercase;
    padding: 15px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    font-size: 12px !important;
}
.btn-default{
	 background: #372e5f !important;
}
.edit{
	margin-left: 20px !important;;
}
.buttonRow{
	width: 100% !important;
}
.modal-footer{
	float: left !important;
	justify-content: flex-start !important;
	display: block !important;
	text-align: left !important;
	margin-left: 20px !important;
   
}
.ck.ck-reset.ck-editor.ck-rounded-corners {
    width: 100% !important;
    margin: 20px;  
}

.addcomment{
	margin-left: 20px;
}
.uploadbtnModel{
    background: #372e5f !important;
	color: white;
	margin-left: 20px;
}
/*-----------------------------------------------*/
.closeEdit{
	font-size: 30px;
}

.editModel{
	padding: 15px;
	display: inline-block;
    
    width: 800px;
    max-width: 100%;
    max-height: calc(200vh - 400px) !important; 
    overflow-y: auto;
}
.firstRowcontent{
	padding: 24px;
	justify-content: flex-start !important;
	display: block !important;
	text-align: left !important;
}
.modelsecond{
	max-width: 60% !important;
	display: inline-block;
	height: auto;
	width: 70% !important;
}
.btnAddfiles{
	 background: #372e5f !important;
	 
	     padding: 1rem 2.4rem !important;
}
.selectNames{
	width: 100%;
	padding: 10px;
	font-size: 8px;
}
.form-control {
    display: block;
    width: 100%;
    height: 90% !important;
    padding: .375rem .75rem;
    font-size: 19px !important;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.titleText{
	width: 100% !important;
}
.statusDropdown{
	margin: 10px !important;
	margin-top: 45px !important;
	margin-left: 5px !important
}
.footer_right{
	float: right !important;
	margin-top: 25px !important;
}
p{
	text-align: justify;
}
.days{
	/*margin-top: 15px !important ;*/
	margin-left: 5px !important;
	margin-right: 5px !important;

}
.duedays label{
	margin-top: 20px !important;
}
.fixed-header{
	top: 0; 

}
.leave{
	float: right;
	margin-top: 20px !important;
	font-size: 20px;

}
.titleCard{
	color: #5e6c84;
    
    line-height: 1.33333333;
    text-transform: uppercase;
    font-weight: 400;
    margin-left: 15px !important;
}
.cardcount{
	color: black;
	 font-weight: 400;
	 margin-left: 15px !important;
}
------------------------------------------------------------

.cardLeave{
	width: 700px;
    margin: 0px auto 0px auto;
    max-width: 100%;
}
.cardTitleLeave{
	
   background-color: #4b415a;
   color: white;
   text-align: center;
   font-size: 30px;
   box-sizing: border-box;
  font-weight: bolder; 
  padding: 25px;
}

/*.border1111{
	border-left: 1px solid red;
}*/